<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Automation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    <div class="content">
        <img src="static\img\IA-Logo.svg" class="ribbon" alt="" />
    </div>

    <h1>Amazon Reports Automation</h1>

    {% block body %} {% endblock %}
</body>
</html>