{% extends 'base.html' %}

{% block head %}


{% endblock %}



{% block body %}

<h2>File uploaded succesfully</h2>
<ul>
    {% for file in files_filename %}
        {% if 'Error' in file %}
            <li class="error">{{file}}</li>
        {% else %}
            <li>{{file}}</li>
        {% endif %}
    {% endfor %}

</ul>
<p>{{result}}</p>

<!-- <form method="POST" action="/final_operation">
    <button type="submit">Clean and save files</button>
</form> -->

<form action="{{ url_for('download_final_file') }}" method="get">
    <button type="submit">Download Final File</button>
</form>

<hr>

<form action="{{ url_for('download_dashboard_file') }}" method="get">
    <button type="submit">Download Dashboard File</button>
</form>

<hr>

<form action="{{ url_for('clean_files') }}" method="get">
    <button class="Clean_button" type="submit">Delete existing files</button>
</form>




 {% endblock %}